@import 'tailwindcss/base';
@import 'tailwindcss/components';



@import 'tailwindcss/utilities';

@font-face {
    font-family: 'KJV1611';
    src: url('/fonts/KJV1611.woff') format('woff');
}

@layer base {
    body {
        @apply text-2xl bg-neutral-50 text-neutral-700 selection:bg-primary-100
    }

    :root[class~="color-theme-red"] {
        --color-primary-surface: 0 0% 100%;

        --color-primary-900: 360deg 62% 20%;
        --color-primary-800: 360deg 85% 25%;
        --color-primary-700: 360deg 79% 32%;
        --color-primary-600: 360deg 72% 38%;
        --color-primary-500: 360deg 67% 44%;
        --color-primary-400: 360deg 64% 55%;
        --color-primary-300: 360deg 71% 66%;
        --color-primary-200: 360deg 77% 78%;
        --color-primary-100: 360deg 82% 89%;
        --color-primary-50: 360deg 100% 97%;

        --color-vivid-a-900: 15deg 86% 30%;
        --color-vivid-a-800: 22deg 82% 39%;
        --color-vivid-a-700: 29deg 80% 44%;
        --color-vivid-a-600: 36deg 77% 49%;
        --color-vivid-a-500: 42deg 87% 55%;
        --color-vivid-a-400: 44deg 92% 63%;
        --color-vivid-a-300: 48deg 94% 68%;
        --color-vivid-a-200: 48deg 95% 76%;
        --color-vivid-a-100: 48deg 100% 88%;
        --color-vivid-a-50: 49deg 100% 96%;

        --color-neutral-900: 42deg 15% 13%;
        --color-neutral-800: 40deg 13% 23%;
        --color-neutral-700: 37deg 11% 28%;
        --color-neutral-600: 41deg 9% 35%;
        --color-neutral-500: 41deg 8% 48%;
        --color-neutral-400: 41deg 8% 61%;
        --color-neutral-300: 39deg 11% 69%;
        --color-neutral-200: 40deg 15% 80%;
        --color-neutral-100: 43deg 13% 90%;
        --color-neutral-50: 40deg 23% 97%;

        --color-support-a-900: 184deg 91% 17%;
        --color-support-a-800: 185deg 84% 25%;
        --color-support-a-700: 185deg 81% 29%;
        --color-support-a-600: 184deg 77% 34%;
        --color-support-a-500: 185deg 62% 45%;
        --color-support-a-400: 185deg 57% 50%;
        --color-support-a-300: 184deg 65% 59%;
        --color-support-a-200: 184deg 80% 74%;
        --color-support-a-100: 185deg 94% 87%;
        --color-support-a-50: 186deg 100% 94%;


        --color-support-b-900: 8deg 86%, 14%;
        --color-support-b-800: 8deg 78%, 21%;
        --color-support-b-700: 8deg 74%, 27%;
        --color-support-b-600: 8deg 70%, 34%;
        --color-support-b-500: 8deg 64%, 42%;
        --color-support-b-400: 8deg 55%, 52%;
        --color-support-b-300: 8deg 63%, 61%;
        --color-support-b-200: 8deg 68%, 74%;
        --color-support-b-100: 8deg 77%, 86%;
        --color-support-b-50: 8deg 88%, 94%;

        --color-redtxt: 360deg 67% 44%;

        /* primary-700 */
        --color-header-from: 360deg 79% 32%;
        /* primary-500 */
        --color-header-to: 360deg 67% 44%;
        /* neutral 100 */
        --color-header-title: 360deg 82% 89%;


        /**
        * colored groups for chapter select
        */

        /* primary 700 */
        --color-bg-law: 360deg 67% 44%;
        /* neutral 50 */
        --color-text-law: 40deg 23% 97%;

        /* supporta 700 */
        --color-bg-history:  185deg 81% 29%;
        /* neutral 50 */
        --color-text-history: 40deg 23% 97%;

        /* supportb 700 */
        --color-bg-poetry:  8deg 74%, 27%;
        /* neutral 50 */
        --color-text-poetry: 40deg 23% 97%;

        /* vivida 700 */
        --color-bg-major-prophets:  29deg 80% 44%;
        /* neutral 50 */
        --color-text-major-prophets: 40deg 23% 97%;

        /* vividb 700 */
        --color-bg-minor-prophets:  100deg 20% 44%;
        /* neutral 50 */
        --color-text-minor-prophets: 40deg 23% 97%;
    }

    :root[class~="color-theme-dark-red"] {
        --color-primary-50: 360deg 62% 20%;
        --color-primary-100: 360deg 85% 25%;
        --color-primary-200: 360deg 79% 32%;
        --color-primary-300: 360deg 72% 38%;
        --color-primary-400: 360deg 67% 44%;
        --color-primary-500: 360deg 64% 55%;
        --color-primary-600: 360deg 71% 66%;
        --color-primary-700: 360deg 77% 78%;
        --color-primary-800: 360deg 82% 89%;
        --color-primary-900: 360deg 100% 97%;

        --color-vivid-a-50: 15deg 86% 30%;
        --color-vivid-a-100: 22deg 82% 39%;
        --color-vivid-a-200: 29deg 80% 44%;
        --color-vivid-a-300: 36deg 77% 49%;
        --color-vivid-a-400: 42deg 87% 55%;
        --color-vivid-a-500: 44deg 92% 63%;
        --color-vivid-a-600: 48deg 94% 68%;
        --color-vivid-a-700: 48deg 95% 76%;
        --color-vivid-a-800: 48deg 100% 88%;
        --color-vivid-a-900: 49deg 100% 96%;

        --color-neutral-50: 42deg 15% 13%;
        --color-neutral-100: 40deg 13% 23%;
        --color-neutral-200: 37deg 11% 28%;
        --color-neutral-300: 41deg 9% 35%;
        --color-neutral-400: 41deg 8% 48%;
        --color-neutral-500: 41deg 8% 61%;
        --color-neutral-600: 39deg 11% 69%;
        --color-neutral-700: 40deg 15% 80%;
        --color-neutral-800: 43deg 13% 90%;
        --color-neutral-900: 40deg 23% 97%;

        --color-support-a-50: 184deg 91% 17%;
        --color-support-a-100: 185deg 84% 25%;
        --color-support-a-200: 185deg 81% 29%;
        --color-support-a-300: 184deg 77% 34%;
        --color-support-a-400: 185deg 62% 45%;
        --color-support-a-500: 185deg 57% 50%;
        --color-support-a-600: 184deg 65% 59%;
        --color-support-a-700: 184deg 80% 74%;
        --color-support-a-800: 185deg 94% 87%;
        --color-support-a-900: 186deg 100% 94%;

        --color-support-b-50: 8deg 86% 14%;
        --color-support-b-100: 8deg 78% 21%;
        --color-support-b-200: 8deg 74% 27%;
        --color-support-b-300: 8deg 70% 34%;
        --color-support-b-400: 8deg 64% 42%;
        --color-support-b-500: 8deg 55% 52%;
        --color-support-b-600: 8deg 63% 61%;
        --color-support-b-700: 8deg 68% 74%;
        --color-support-b-800: 8deg 77% 86%;
        --color-support-b-900: 8deg 88% 94%;

        /* support b 500*/
        --color-redtxt: 8deg 55% 52%;
        /* primary-200 */
        --color-header-from: 360deg 79% 32%;
        /* primary-500 */
        --color-header-to: 360deg 67% 44%;
        /* neutral 800 */
        --color-header-title: 360deg 82% 89%;

        /**
        * colored groups for chapter select
        */

        /* primary 700 */
        --color-bg-law: 360deg 67% 44%;
        /* neutral 50 */
        --color-text-law: 40deg 23% 97%;

        /* supporta 700 */
        --color-bg-history:  185deg 81% 29%;
        /* neutral 50 */
        --color-text-history: 40deg 23% 97%;

        /* supportb 700 */
        --color-bg-poetry:  8deg 74%, 27%;
        /* neutral 50 */
        --color-text-poetry: 40deg 23% 97%;

        /* vivida 700 */
        --color-bg-major-prophets:  29deg 80% 44%;
        /* neutral 50 */
        --color-text-major-prophets: 40deg 23% 97%;

        /* vividb 700 */
        --color-bg-minor-prophets:  100deg 20% 44%;
        /* neutral 50 */
        --color-text-minor-prophets: 40deg 23% 97%;

    }

    :root[class~="color-theme-light-blue"] {
        --color-primary-900: 204deg 96% 27%;
        --color-primary-800: 203deg 87% 34%;
        --color-primary-700: 202deg 83% 41%;
        --color-primary-600: 201deg 79% 46%;
        --color-primary-500: 199deg 84% 55%;
        --color-primary-400: 197deg 92% 61%;
        --color-primary-300: 196deg 94% 67%;
        --color-primary-200: 195deg 97% 75%;
        --color-primary-100: 195deg 100% 85%;
        --color-primary-50: 195deg 100% 95%;

        --color-neutral-900: 210deg 24% 16%;
        --color-neutral-800: 209deg 20% 25%;
        --color-neutral-700: 209deg 18% 30%;
        --color-neutral-600: 209deg 14% 37%;
        --color-neutral-500: 211deg 12% 43%;
        --color-neutral-400: 211deg 10% 53%;
        --color-neutral-300: 211deg 13% 65%;
        --color-neutral-200: 210deg 16% 82%;
        --color-neutral-100: 214deg 15% 91%;
        --color-neutral-50: 216deg 33% 97%;

        --color-vivid-a-900: 320deg 100% 19%;
        --color-vivid-a-800: 322deg 93% 27%;
        --color-vivid-a-700: 324deg 93% 33%;
        --color-vivid-a-600: 326deg 90% 39%;
        --color-vivid-a-500: 328deg 85% 46%;
        --color-vivid-a-400: 330deg 79% 56%;
        --color-vivid-a-300: 334deg 86% 67%;
        --color-vivid-a-200: 336deg 100% 77%;
        --color-vivid-a-100: 338deg 100% 86%;
        --color-vivid-a-50: 341deg 100% 95%;

        --color-vivid-b-900: 348deg 94% 20%;
        --color-vivid-b-800: 350deg 94% 28%;
        --color-vivid-b-700: 352deg 90% 35%;
        --color-vivid-b-600: 354deg 85% 44%;
        --color-vivid-b-500: 356deg 75% 53%;
        --color-vivid-b-400: 360deg 83% 62%;
        --color-vivid-b-300: 360deg 91% 69%;
        --color-vivid-b-200: 360deg 100% 80%;
        --color-vivid-b-100: 360deg 100% 87%;
        --color-vivid-b-50: 360deg 100% 95%;

        /* vivid-b 500*/
        --color-redtxt: 354deg 85% 44%;

        /* neutral-600 */
        --color-header-from: 209deg 14% 37%;
        /* neutral-600 */
        --color-header-to: 209deg 14% 37%;
        /* neutral 100 */
        --color-header-title: 214deg 15% 91%;
    }

    :root[class~="color-theme-dark-light-blue"] {
        --color-primary-50: 204deg 96% 27%;
        --color-primary-100: 203deg 87% 34%;
        --color-primary-200: 202deg 83% 41%;
        --color-primary-300: 201deg 79% 46%;
        --color-primary-400: 199deg 84% 55%;
        --color-primary-500: 197deg 92% 61%;
        --color-primary-600: 196deg 94% 67%;
        --color-primary-700: 195deg 97% 75%;
        --color-primary-800: 195deg 100% 85%;
        --color-primary-900: 195deg 100% 95%;

        --color-neutral-50: 210deg 24% 16%;
        --color-neutral-100: 209deg 20% 25%;
        --color-neutral-200: 209deg 18% 30%;
        --color-neutral-300: 209deg 14% 37%;
        --color-neutral-400: 211deg 12% 43%;
        --color-neutral-500: 211deg 10% 53%;
        --color-neutral-600: 211deg 13% 65%;
        --color-neutral-700: 210deg 16% 82%;
        --color-neutral-800: 214deg 15% 91%;
        --color-neutral-900: 216deg 33% 97%;

        --color-vivid-a-900: 320deg 100% 19%;
        --color-vivid-a-800: 322deg 93% 27%;
        --color-vivid-a-700: 324deg 93% 33%;
        --color-vivid-a-600: 326deg 90% 39%;
        --color-vivid-a-500: 328deg 85% 46%;
        --color-vivid-a-400: 330deg 79% 56%;
        --color-vivid-a-300: 334deg 86% 67%;
        --color-vivid-a-200: 336deg 100% 77%;
        --color-vivid-a-100: 338deg 100% 86%;
        --color-vivid-a-50: 341deg 100% 95%;

        --color-vivid-b-900: 348deg 94% 20%;
        --color-vivid-b-800: 350deg 94% 28%;
        --color-vivid-b-700: 352deg 90% 35%;
        --color-vivid-b-600: 354deg 85% 44%;
        --color-vivid-b-500: 356deg 75% 53%;
        --color-vivid-b-400: 360deg 83% 62%;
        --color-vivid-b-300: 360deg 91% 69%;
        --color-vivid-b-200: 360deg 100% 80%;
        --color-vivid-b-100: 360deg 100% 87%;
        --color-vivid-b-50: 360deg 100% 95%;

        /* support b 500*/
        --color-redtxt: 162deg 63% 41%;

        /* primary-200 */
        --color-header-from: 210deg 24% 10%;
        /* primary-500 */
        --color-header-to: 210deg 24% 10%;
        /* neutral 800 */
        --color-header-title: 216deg 33% 97%;
    }

    :root[class~="color-theme-purple"] {
        --color-primary-900: 263deg 85% 18%;
        --color-primary-800: 262deg 72% 25%;
        --color-primary-700: 262deg 69% 31%;
        --color-primary-600: 262deg 60% 38%;
        --color-primary-500: 262deg 48% 46%;
        --color-primary-400: 262deg 43% 51%;
        --color-primary-300: 261deg 47% 58%;
        --color-primary-200: 261deg 54% 68%;
        --color-primary-100: 261deg 68% 84%;
        --color-primary-50: 262deg 61% 93%;

        --color-neutral-900: 42deg 15% 13%;
        --color-neutral-800: 40deg 13% 23%;
        --color-neutral-700: 37deg 11% 28%;
        --color-neutral-600: 41deg 9% 35%;
        --color-neutral-500: 41deg 8% 48%;
        --color-neutral-400: 41deg 8% 61%;
        --color-neutral-300: 39deg 11% 69%;
        --color-neutral-200: 40deg 15% 80%;
        --color-neutral-100: 43deg 13% 90%;
        --color-neutral-50: 40deg 23% 97%;

        --color-support-a-900: 184deg 91% 17%;
        --color-support-a-800: 185deg 84% 25%;
        --color-support-a-700: 185deg 81% 29%;
        --color-support-a-600: 184deg 77% 34%;
        --color-support-a-500: 185deg 62% 45%;
        --color-support-a-400: 185deg 57% 50%;
        --color-support-a-300: 184deg 65% 59%;
        --color-support-a-200: 184deg 80% 74%;
        --color-support-a-100: 185deg 94% 87%;
        --color-support-a-50: 186deg 100% 94%;

        --color-support-b-900: 43deg 86% 17%;
        --color-support-b-800: 43deg 77% 27%;
        --color-support-b-700: 43deg 72% 37%;
        --color-support-b-600: 42deg 63% 48%;
        --color-support-b-500: 42deg 78% 60%;
        --color-support-b-400: 43deg 89% 70%;
        --color-support-b-300: 43deg 90% 76%;
        --color-support-b-100: 45deg 86% 81%;
        --color-support-b-100: 45deg 90% 88%;
        --color-support-b-50: 45deg 100% 96%;

        --color-vivid-a-900: 348deg 94% 20%;
        --color-vivid-a-800: 350deg 94% 28%;
        --color-vivid-a-700: 352deg 90% 35%;
        --color-vivid-a-600: 354deg 85% 44%;
        --color-vivid-a-500: 356deg 75% 53%;
        --color-vivid-a-400: 360deg 83% 62%;
        --color-vivid-a-300: 360deg 91% 69%;
        --color-vivid-a-200: 360deg 100% 80%;
        --color-vivid-a-100: 360deg 100% 87%;
        --color-vivid-a-50: 360deg 100% 95%;

        --color-vivid-b-900: 125deg 97% 14%;
        --color-vivid-b-800: 125deg 86% 20%;
        --color-vivid-b-700: 125deg 79% 26%;
        --color-vivid-b-600: 122deg 80% 29%;
        --color-vivid-b-500: 122deg 73% 35%;
        --color-vivid-b-400: 123deg 57% 45%;
        --color-vivid-b-300: 123deg 53% 55%;
        --color-vivid-b-200: 124deg 63% 74%;
        --color-vivid-b-100: 127deg 65% 85%;
        --color-vivid-b-50: 125deg 65% 93%;

        --color-redtxt: 262deg 48% 46%;

        /* primary-700 */
        --color-header-from: 262deg 69% 31%;
        /* primary-500 */
        --color-header-to: 262deg 48% 46%;
        /* neutral 100 */
        --color-header-title: 43deg 13% 90%;
    }

    :root[class~="color-theme-dark-purple"] {
        --color-primary-50: 263deg 85% 18%;
        --color-primary-100: 262deg 72% 25%;
        --color-primary-200: 262deg 69% 31%;
        --color-primary-300: 262deg 60% 38%;
        --color-primary-400: 262deg 48% 46%;
        --color-primary-500: 262deg 43% 51%;
        --color-primary-600: 261deg 47% 58%;
        --color-primary-700: 261deg 54% 68%;
        --color-primary-800: 261deg 68% 84%;
        --color-primary-900: 262deg 61% 93%;

        --color-neutral-50: 42deg 15% 13%;
        --color-neutral-100: 40deg 13% 23%;
        --color-neutral-200: 37deg 11% 28%;
        --color-neutral-300: 41deg 9% 35%;
        --color-neutral-400: 41deg 8% 48%;
        --color-neutral-500: 41deg 8% 61%;
        --color-neutral-600: 39deg 11% 69%;
        --color-neutral-700: 40deg 15% 80%;
        --color-neutral-800: 43deg 13% 90%;
        --color-neutral-900: 40deg 23% 97%;

        --color-support-a-50: 184deg 91% 17%;
        --color-support-a-100: 185deg 84% 25%;
        --color-support-a-200: 185deg 81% 29%;
        --color-support-a-300: 184deg 77% 34%;
        --color-support-a-400: 185deg 62% 45%;
        --color-support-a-500: 185deg 57% 50%;
        --color-support-a-600: 184deg 65% 59%;
        --color-support-a-700: 184deg 80% 74%;
        --color-support-a-800: 185deg 94% 87%;
        --color-support-a-900: 186deg 100% 94%;

        --color-support-b-50: 43deg 86% 17%;
        --color-support-b-100: 43deg 77% 27%;
        --color-support-b-200: 43deg 72% 37%;
        --color-support-b-300: 42deg 63% 48%;
        --color-support-b-400: 42deg 78% 60%;
        --color-support-b-500: 43deg 89% 70%;
        --color-support-b-600: 43deg 90% 76%;
        --color-support-b-700: 45deg 86% 81%;
        --color-support-b-800: 45deg 90% 88%;
        --color-support-b-900: 45deg 100% 96%;

        --color-vivid-a-50: 348deg 94% 20%;
        --color-vivid-a-100: 350deg 94% 28%;
        --color-vivid-a-200: 352deg 90% 35%;
        --color-vivid-a-300: 354deg 85% 44%;
        --color-vivid-a-400: 356deg 75% 53%;
        --color-vivid-a-500: 360deg 83% 62%;
        --color-vivid-a-600: 360deg 91% 69%;
        --color-vivid-a-700: 360deg 100% 80%;
        --color-vivid-a-800: 360deg 100% 87%;
        --color-vivid-a-900: 360deg 100% 95%;

        --color-vivid-b-50: 125deg 97% 14%;
        --color-vivid-b-100: 125deg 86% 20%;
        --color-vivid-b-200: 125deg 79% 26%;
        --color-vivid-b-300: 122deg 80% 29%;
        --color-vivid-b-400: 122deg 73% 35%;
        --color-vivid-b-500: 123deg 57% 45%;
        --color-vivid-b-600: 123deg 53% 55%;
        --color-vivid-b-700: 124deg 63% 74%;
        --color-vivid-b-800: 127deg 65% 85%;
        --color-vivid-b-900: 125deg 65% 93%;

        --color-redtxt: 261deg 47% 58%;

        /* primary-700 */
        --color-header-from: 262deg 69% 31%;
        /* primary-500 */
        --color-header-to: 262deg 48% 46%;
        /* neutral 100 */
        --color-header-title: 43deg 13% 90%;
    }



}


/* if you want a scroll bar in chrome */
/* html {
    overflow-y: scroll;
}
 */

/* Chrome/Brave */
::-webkit-scrollbar {
    /* width of the entire scrollbar */
    width: 0;
}

::-webkit-scrollbar-track {
    /* color of the tracking area */
    background: transparent;
}

::-webkit-scrollbar-thumb {
    /* color of the scroll thumb */
    background-color: blue;
    /* roundness of the scroll thumb */
    border-radius: 1rem;
}